 <!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<header>
		<%= render 'activities/header' %> 
	</header>
	<p class="session"><%= render 'session' %></p>
	<br>
	<br>
	<br>
	<div class="welcome_box_black">
		<h1 align="center">Assignment</h1>
		<h4>Yo should develop a TODO App that includes the following features</h4>
		<div>
			<ul>
				<li>Users should login to the App (Devise/Omniauth)</li>
				<dd>- Done</dd>
				<li>Users can create, read, update and delete (CRUD) lists of TODOs</li>
				<dd>- Done</dd>
				<li>Users can CRUD taks on a list</li>
				<dd>- Done</dd>
				<li>Users can export their lists with their tasks to CSV and PDF files.</li>
				<dd>- Done</dd>
				<li>Users should receive weekly email including pending tasks (using emails and BackgroundJobs with Sidekiq and Redis)</li>
				<dd>- In Process, Already implemented Sidekiq and Redis for BackgroudJobs now missing the email send anctions.</dd>
				<li>Users can update your profile: name, email, description and photo (photo must be uploaded, you could use paperclip for this task)</li>
				<dd>- In Process</dd>
				<li>The app must include unit tests with Rspec and integration with Capybara</li>
				<dd>- In Process</dd>
			</ul>
		</div>
	</div>
	<br>
	<br>
	<br>
	<footer>
		<%= render 'activities/footer' %>
	</footer>
</body>
</html>