
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Changes made to account: <%= @user.email %></h1>
    <p>
      We thought you would like to know there where changes to the account: <%= @user.email %>.<br>
      If it was you, dont worry then.
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>