<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<header>
		<%= render 'header' %>
	</header>
	
	<p class="session"><%= render 'session' %></p>
	<br><br><br>

	<section>
		<%= render 'form' %>
	</section>

	<br><br><br>

	<footer class="welcome_box_black">
		<%= render 'footer' %>
	</footer>

</body>
</html>