<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<header>
		<%= render 'semantic/header' %>
	</header>
	
	<br><br><br>

	<section>
		<%= render 'form' %>
	</section>

	<br><br><br>

	<footer class="welcome_box_black">
		<%= render 'semantic/footer' %>
	</footer>

</body>
</html>