<!DOCTYPE html>
<html>
<head>
	<title>
	</title>
</head>
<body>
	<header>
		<%= render 'header'%>
	</header>

	<p class="session"><%= render 'session' %></p>
	<br><br><br>

	<section>
		<%= render 'task'%>
	</section>

	<br><br><br>

	<footer>
		<%= render 'footer'%>
	</footer>
</body>
</html>
