<!DOCTYPE html>
<html>
<head>
	<title>
	</title>
</head>
<body>
	<header>
		<%= render 'semantic/header'%>
	</header>
	
	<br><br><br>

	<section>
		<%= render 'task'%>
	</section>

	<br><br><br>

	<footer>
		<%= render 'semantic/footer'%>
	</footer>
</body>
</html>
