<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<header>
		<%= render 'semantic/header' %>
	</header>
	<br>
	<br>
	<br>

	<div class="welcome_box_black">
		<h1 align="center">Use it</h1>
		<div>
			<ul>
				<li>You can take a look to the repository so that you can use the project your self <a href="https://github.com/candanedo/TODO-app">Github</a></li>
				
			</ul>
		</div>
	</div>
	<br><br><br>
	<footer>
		<%= render 'semantic/footer' %>
	</footer>
</body>
</html>