<div class="welcome_box_black">
	<div class="img_task" align="center">
		<%= image_tag "welcome/magma2.png", width: '300px' %>
		<br>
		&copy;Copyright 2018 MagmaLabs
		<p>Web Site create by Eduardo Javier Candanedo</p>
	</div>
</div>
