<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<header>
		<%= render 'activities/header' %>
	</header>
	
	<p class="session"><%= render 'session' %></p>
	<br><br><br>

	<section>
		<%= render 'formedit' %>
	</section>

	<br><br><br>
	
	<footer>
		<%= render 'activities/footer' %>
	</footer>
</body>
</html>