
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
    <header>
      <%= render 'semantic/header'%>
    </header>
    
    <br>
    <br>
  <section>
      <%= render 'activity'%>
  </section>
  <br><br><br>
  <footer>
     <%= render 'semantic/footer'%>
  </footer>
</body>
</html>