<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<header>
		<%= render 'semantic/header' %>
	</header>
	

	<br><br><br>
	<section>
		<div class="welcome_box_black">
			<h1>Lists of TODOs</h1>
			<%= render 'form' %>
			<%= link_to 'Back', activities_path %>
		</div>	
	</section>
	<br><br><br>
	<footer>
		<%= render 'semantic/footer'%>
	</footer>
</body>
</html>